<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping List: Add</title>
    <meta charset="utf-8" />
</head>
<body>
      <form action="./api/addtolist" method="post">
      <div>
        <label for="shoppinglist">Click the button to add to your list:</label>
        <input type="text" id="shoppingitem" name="Itemname">
        <label for="shoppinglist">Price of Item to add:</label>
        <input type="text" id="itemprice" name="Itemprice">
        <label for="shoppinglist">Catagory of Item to add:</label>
        <input type="text" id="itemCategory" name="Itemcategory">
      </div>
<div class="button">
    <button type="submit">Add</button>
</div>
</form>
</body>
</html>
